useDynLib(dpeak)
exportPattern("^[[:alpha:]]+")
importFrom( Rcpp, evalCpp )

import( methods, graphics, MASS, IRanges )

export( dpeakRead, dpeakMotif, dpeakFit )

export( show, plot, print, printEmpty )

export( export )
